{% extends 'base.html' %}
{%  load static %}

{% block page_content %}
    <div class="container-fluid">
    <div class="row" style="height: 100vh">

            <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary" >
      <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel" >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="sidebarMenuLabel">信安综合网站</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
        </div>

        <div class="flex-0 p-3" style="width: 280px;">
            <ul class="list-unstyled ps-0" style="margin-top: 10px">

                <li class="mb-1 mysidebar" >
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 mybutton" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">个人信息
                    </button>
                            <div class="collapse" id="home-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="/userpage/" class="link-body-emphasis d-inline-flex text-decoration-none rounded" >个人信息</a></li>
          </ul>
        </div>
                </li>
                <br/>
                <li class="mb-1 mysidebar">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 mybutton" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          收藏夹
        </button>
                                                <div class="collapse" id="dashboard-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="{% url 'user_page:fav_post' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded" >收藏的帖子</a></li>
          </ul>
        </div>
      </li>
                <br/>
                <li class="mb-1 mysidebar">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed mybutton" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          我的发布
        </button>
        <div class="collapse" id="orders-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="{% url 'user_page:user_post' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded" >发布的帖子</a></li>
            <li><a href="{% url 'user_page:user_comment' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded" >发布的评论</a></li>
            <li><a href="{% url 'user_page:user_reply' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded" >发布的回复</a></li>
          </ul>
        </div>
      </li>
            </ul>
        </div>
      </div>
    </div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="border-bottom: 1px solid lightgrey">

    <div class="py-5 text-center">
      <h2>个人信息</h2>
    </div>
    <div class="row g-12">
      <div class="col-md-6 col-lg-6 offset-3 ">
        <form class="needs-validation" method="post" novalidate>
            {% csrf_token %}
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="lastName" class="form-label">姓氏</label>
{#              <input type="text" class="form-control" id="lastName" placeholder="{{ lastname }}" >#}
                {{ form.last_name }}
                <span style="color: red">{{ form.last_name.errors.0 }}</span>
            </div>

            <div class="col-sm-6">
              <label for="firstName" class="form-label">名字</label>
{#              <input type="text" class="form-control" id="firstName" placeholder="{{ firstname }}">#}
                {{ form.first_name }}
                <span style="color: red">{{ form.first_name.errors.0 }}</span>
            </div>

            <div class="col-12">
              <label for="username" class="form-label">用户名</label>
{#                <input type="text" class="form-control" id="username" placeholder="{{ username }}">#}
                  {{ form.username }}
                <span style="color: red">{{ form.username.errors.0 }}</span>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">邮箱</label>
              <input type="email" class="form-control" id="email" placeholder="{{ email }}" disabled>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">加入时间</label>
                <input type="text" class="form-control" id="join_time" placeholder="{{ join_time }}" disabled>
            </div>
              <br/>
            <div class="col-sm-12">
                <button class="w-100 btn btn-primary btn-lg" type="submit" style="margin-top: 20px">保存修改</button>
            </div>
          </div>
        </form>
          <div class="row g-3">
              <div class="col-sm-12">
                <button class="w-100 btn btn-primary btn-lg" style="margin-top: 20px;margin-bottom: 30px" onclick="window.location.href = '{% url 'user_page:user_page' %}'">取消修改</button>
            </div>
          </div>
      </div>
    </div>
    </main>
    </div>
    </div>
{% endblock %}







