{% extends 'base.html' %}
{%  load static %}

{% block style %}
    <title>忘记密码</title>
    <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}"/>
{% endblock %}


{% block page_content %}
    <div class="box mx-auto">
        <h2>找回密码</h2>
        <form method="post" novalidate>
            {% csrf_token %}
        <div class="input-box">
            <label>邮箱</label>
            {{ form.email }}
            <span class ="wrong">{{ form.email.errors.0 }}</span>
        </div>
        <div class="input-box">
            <label>验证码</label>
            <div>
                {{ form.imgcode }}
            <a href="/forgetpw/"><img id="imgcode" src="/image/code/" alt="验证码"/></a>
            </div>
            <span class ="wrong">{{ form.imgcode.errors.0 }}</span>
        </div>
        <div class="btn-box">
            <div style="margin-top: 20px;">
                <button type="submit" style="width: 250px">下一步</button>
            </div>
        </div>
        </form>
        <div class="btn-box">
            <div><button onclick="window.location.href = '/login/'" style="width: 250px;margin-bottom: 20px">返回登录界面</button></div>
        </div>
    </div>
{% endblock %}
