{% extends 'base.html' %}
{%  load static %}

{% block style %}
    <title>登录</title>
    <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}"/>
{% endblock %}


{% block page_content %}
    <div class="box mx-auto">
        <h2>登录</h2>
        <form method="post" action="/login/" novalidate>
            {% csrf_token %}
        <div class="input-box" >
            <label >用户名</label>
            {{ form.username }}
            <span class ="wrong">{{ form.username.errors.0 }}</span>
        </div>
        <div class="input-box" >
            <label>密码</label>
            {{ form.password }}
            <span class ="wrong" >{{ form.password.errors.0 }}</span>
        </div>
        <div class="input-box" style="margin-bottom: 0">
            <label>验证码</label>
            <div>
            {{ form.imgcode }}
            <a href="/login/"><img id="imgcode" src="/image/code/" alt="验证码"/></a>
            </div>
            <span class ="wrong">{{ form.imgcode.errors.0 }}</span>
        </div>
        <div class="btn-box">
            <div>
            <input type="checkbox"  value="true" name="rememberpw"/>
            <label id="remember">记住密码</label>
            </div>
            <div>
                <button style="width: 250px;margin-top: 15px;" id="loginbn" type="submit">登录</button>
            </div>
        </div>
        </form>
        <div class="btn-box">
            <div>
                <button onclick="window.location.href = '/register/'" id="regisbn">注册</button>
                <button onclick="window.location.href = '{{ last_url }}'" id="visitorbn" >以游客身份浏览</button>
            </div>
            <div style="margin-top: 10px;justify-content: flex-end;margin-left: auto;">
                <a href="/forgetpw/" style="width: auto;">忘记密码?</a>
            </div>
            <div>

            </div>
        </div>
        {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
        {% endif %}
    </div>
{% endblock %}
