{% extends 'base.html' %}
{%  load static %}

{% block style %}
    <title>注册</title>
    <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}"/>
{% endblock %}


{% block page_content %}
    <div class="box mx-auto">
        <h2>注册</h2>
        <form method="post" novalidate>
            {%  csrf_token %}
        <div class="input-box" >
            <label>用户名</label>
            {{ form.username }}
            <div  class="tips" style="top: 15px">
            <span class="arrow1" style="top: 18px"></span>
                <span class="arrow2" style="top: 18px"></span>
            <p class="tip1" style="padding-left: 5px"><span class="point"></span>可包含数字、大小写字母、汉字和下划线字符</p>
            </div>
            <span class ="wrong">{{ form.username.errors.0 }}</span>
        </div>
        <div class="input-box">
            <label>邮箱</label>
            {{ form.email }}
            <div  class="tips" style="top: 18px;width: 130px">
            <span class="arrow1" style="top: 15px"></span>
                <span class="arrow2" style="top: 15px"></span>
            <p class="tip1" style="padding-left: 5px"><span class="point"> </span>邮箱用于账号的激活和找回</p>
            </div>
            <span class ="wrong">{{ form.email.errors.0 }}</span>
        </div>
        <div class="input-box">
            <label>密码</label>
            {{ form.password }}
            <div  class="tips">
            <span class="arrow1"></span>
            <span class="arrow2"></span>
            <p class="tip1"><span class="point">· </span>密码长度至少8个字符</p>
            <p class="tip2"><span class="point">· </span>至少包含数字、大小写字母和下划线字符中的两种</p>
            </div>
            <span class ="wrong" >{{ form.password.errors.0 }}</span>
        </div>
        <div class="input-box">
            <label>确认密码</label>
            {{ form.password2 }}
            <span class ="wrong" >{{ form.password2.errors.0 }}</span>
        </div>
        <div class="input-box">
            <label>验证码</label>
            <div>
            {{ form.imgcode }}
            <a href="/register/"><img id="imgcode" src="/image/code/" alt="验证码"/></a>
            </div>
            <span class ="wrong">{{ form.imgcode.errors.0 }}</span>
        </div>
        <div class="btn-box">
            <div style="margin-top: 15px;">
                <button type="submit" style="width: 250px;">注册</button>
            </div>
        </div>
        </form>
        <div class="btn-box">
            <div><button onclick="window.location.href = '/login/'" style="width: 250px;margin-bottom: 20px">使用已有账号登录</button></div>
        </div>
    </div>
{% endblock %}
