{% extends 'root.html' %}
{% load static %}
{% load tz %}

{% block title %}论坛{% endblock %}

{% block style %}
<link rel="icon" href="{% static 'images/Spider-Man.ico' %}">
<link rel="stylesheet" href="{% static 'plugins/bootstrap-5.3.3-dist/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/userpage.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'js/CustomizeSubject.js' %}"></script>
{% if messages %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% for message in messages %}
                alert("{{ message|escapejs }}");  // 弹出窗口显示消息
            {% endfor %}
        });
    </script>
{% endif %}
{% endblock %}

{% block content %}

    <div>
        <div class="card shadow">
            <div class="card-header bg-body-tertiary">
                <h1 class="text-center"><code>That's the beginning</code></h1>
            </div>
            <main>
                {% block content_header_inner %}{% endblock %}
            </main>
        </div>

        <!-- 页面内容区域 -->
        <div class="my-5 container">
            {% block page_content %}
            {% endblock %}
        </div>
        <div class="card shadow">
            <main>
                {% block content_footer_inner %}{% endblock %}
            </main>
            <div class="card-footer bg-body-tertiary">
                <h1 class="text-center"><code>THAT'S THE END!</code></h1>
            </div>
        </div>
    </div>

{% endblock %}
