
<!-- templates/new_post.html -->
{% extends 'base.html' %}

{% block page_content %}
    <h2 class = "fw-bold text-center">新建帖子</h2>
<div class="container p-5 my-5 border">
    <div class="input-group mb-3">
        <span class="fw-bold input-group-text">当前用户： </span>
        <input readonly class="form-control" value="{{ username }}"></input>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label class = "fw-bold mb-3">标题:</label>
            <input type="text" class="form-control mb-3" name="title" required>
        </div>
        <div>
            <label class = "fw-bold mb-3">内容:</label>
            <textarea name="content" class="form-control mb-3" required></textarea>
        </div>
        <div class = "mb-3">
            <label class = "fw-bold mb-3">主题:</label>
            <select class="form-select" name="subject" id="subject-select">
                <option value="">选择主题</option>
                {% for subject in subjects %}
                    <option value="{{ subject.name }}">{{ subject.name }}</option>
                {% endfor %}
                <option value="自定义">自定义</option>
            </select>
            <input type="text" class="form-control" id="custom-subject" name="subject" placeholder="输入自定义主题" style="display:none;">
        </div>
        <div class = "text-center">
        <button type="submit" class="btn btn-outline-primary">发布帖子</button>
        </div>
    </form>
</div>

<div class="card shadow">
        <div class="card-footer bg-body-tertiary">
            <h1 class="text-center"><code>THAT'S THE END</code></h1>
        </div>
</div>

{% endblock %}
